[submodule "packages/typescript-config"]
	path = packages/typescript-config
	url = https://github.com/RubricLab/typescript-config.git
[submodule "packages/eslint-config"]
	path = packages/eslint-config
	url = https://github.com/RubricLab/eslint-config.git
[submodule "packages/prettier-config"]
	path = packages/prettier-config
	url = https://github.com/RubricLab/prettier-config.git
[submodule "packages/tailwind-config"]
	path = packages/tailwind-config
	url = https://github.com/RubricLab/tailwind-config.git
[submodule "packages/ui"]
	path = packages/ui
	url = https://github.com/RubricLab/ui
[submodule "packages/create-rubric-app"]
	path = packages/create-rubric-app
	url = https://github.com/RubricLab/create-rubric-app
[submodule "packages/package"]
	path = packages/package
	url = https://github.com/RubricLab/package
[submodule "packages/memory"]
	path = packages/memory
	url = https://github.com/RubricLab/memory
[submodule "apps/website"]
	path = apps/website
	url = https://github.com/RubricLab/website
[submodule "apps/rOS"]
	path = apps/rOS
	url = https://github.com/RubricLab/rOS
[submodule "apps/maige"]
	path = apps/maige
	url = https://github.com/RubricLab/maige
[submodule "apps/dashboard"]
	path = apps/dashboard
	url = https://github.com/RubricLab/dashboard
