# Apps

[submodule "apps/chat"]
	path = apps/chat
	url = https://github.com/RubricLab/chat.git
	branch = main
[submodule "apps/rOS"]
	path = apps/rOS
	url = https://github.com/RubricLab/rOS
	branch = main
[submodule "apps/website"]
	path = apps/website
	url = https://github.com/RubricLab/website
	branch = main
[submodule "apps/x"]
	path = apps/x
	url = https://github.com/RubricLab/x
	branch = main

# Packages

[submodule "packages/.github"]
	path = packages/.github
	url = https://github.com/RubricLab/.github
	branch = main
[submodule "packages/actions"]
	path = packages/actions
	url = https://github.com/RubricLab/actions
	branch = main
[submodule "packages/agents"]
	path = packages/agents
	url = https://github.com/RubricLab/agents.git
	branch = main
[submodule "packages/auth"]
	path = packages/auth
	url = https://github.com/RubricLab/auth
	branch = main
[submodule "packages/blocks"]
	path = packages/blocks
	url = https://github.com/RubricLab/blocks
	branch = main
[submodule "packages/cli"]
	path = packages/cli
	url = https://github.com/RubricLab/cli
	branch = main
[submodule "packages/chains"]
	path = packages/chains
	url = https://github.com/RubricLab/chains
	branch = main
[submodule "packages/codegen"]
	path = packages/codegen
	url = https://github.com/RubricLab/codegen
	branch = main
[submodule "packages/config"]
	path = packages/config
	url = https://github.com/RubricLab/config
	branch = main
[submodule "packages/create-rubric-app"]
	path = packages/create-rubric-app
	url = https://github.com/RubricLab/create-rubric-app
	branch = rewrite
[submodule "packages/events"]
	path = packages/events
	url = https://github.com/RubricLab/events
	branch = main
[submodule "packages/memory"]
	path = packages/memory
	url = https://github.com/RubricLab/memory
	branch = main
[submodule "packages/package"]
	path = packages/package
	url = https://github.com/RubricLab/package
	branch = main
[submodule "packages/ui"]
	path = packages/ui
	url = https://github.com/RubricLab/ui
	branch = main
[submodule "packages/webhooks"]
	path = packages/webhooks
	url = https://github.com/RubricLab/webhooks
	branch = main
[submodule "packages/state"]
	path = packages/state
	url = https://github.com/RubricLab/state
	branch = main
[submodule "packages/shapes"]
	path = packages/shapes
	url = https://github.com/RubricLab/shapes
	branch = main